[submodule "scripts/altiumscriptcentral"]
	path = scripts/altiumscriptcentral
	url = git@github.com:mbedded-ninja/AltiumScriptCentral.git
[submodule "libraries/imported/celestial"]
	path = libraries/imported/celestial
	url = git@github.com:issus/altium-library.git
[submodule "libraries/imported/kitsprout"]
	path = libraries/imported/kitsprout
	url = git@github.com:KitSprout/AltiumDesigner_PcbLibrary.git
