History/
.PrjPCBStructure
.SchDocPreview
.PcbDocPreview
__Previews
History
.PrjPcbStructure
.Dat
.REP 
.TLT
Project\ Outputs
.LOG
Project\ Logs
*.LOG
*.PrjPcbStructure
*.htm
*.$$$
boards/*/Project Outputs for*
*.log

exports
!exports/aux

scripts/__pycache__/
