History/
.PrjPCBStructure
.SchDocPreview
.PcbDocPreview
__Previews
History
.PrjPcbStructure
.Dat
.REP 
.TLT
Project\ Outputs
.LOG
Project\ Logs

*.LOG
*.PrjPcbStructure
*.pdf
exports/main/manufacturing_files
exports/main/manufacturing_report
exports
*.htm
*.$$$
boards/main/Project Outputs for main_board/Design Rule Check - main_board.drc
boards/main/Project Outputs for main_board/Design Rule Check - main_board.html
